*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
background-color: hsl(0, 0%, 98%);
}
.menu{
  display: none;
}
.close-menu{
  display: none;
}
.container{
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.navbar{
  flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.nav-links{
 display: flex;
 justify-content: space-between;
  list-style: none;
  align-items: center;
  color: hsl(0, 0%, 41%);
}
.nav-links li a{
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
.nav-links li{
  margin-right: 30px;
  cursor: pointer;
}
.nav-links li a:hover{
  color:black;
  cursor: pointer;
}
.logo{
  margin-right: 40px;
}
.links{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
.links a{
  text-decoration: none;
  color:hsl(0, 0%, 41%);
}
.links a:hover{
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}
.register{
  border:2px solid grey;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 30px;
  text-align: center;
}

.dropdown-menu{
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 5%;
  background: #fff;
  box-shadow: 0px 0px 0px 0px grey;
  border-radius: 10px;
  width:200px;
  overflow: hidden;
  top: 100px;
  z-index: 1;
  height: 25%;
  padding: 25px;
}
.dropdown-menu img{
  margin-right: 10px;
}
.dropdown-menu a{
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu1{
   display: none;
  background: #fff;
  position: absolute;
  align-items: flex-start;
  left: 18%;
  box-shadow: 0px 0px 0px 0px grey;
  border-radius: 10px;
  width:120px;
  overflow: hidden;
  top: 100px;
  z-index: 1;
  height: 18%;
  padding: 20px;
}
.dropdown-menu1 a{
  color:hsl(0, 0%, 41%);
  padding: 8px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.dropdown-menu, .dropdown-menu1 a:hover{
  color: orange;
}
.show{
  display: block;
}
/* to edit*/
/* #class-list{
  display: none;
}
#mouseup:hovers{
  transition: ease;
  transform: rotateZ(-180deg);
  -webkit-transform:rotate(180deg);
} */
/*--------------------------------------------------------------*/
main{
  display: flex;
  align-items: center;
}
h1{
  font-family: 'Epilogue', sans-serif;
  font-size: 90px;
  margin-right: 50px;
}
/* span{
  font-size: 90px;
 margin: 0px 0px 50px 0px;
  font-weight: 700;
} */
p{
  /*TRBL*/
  line-height: 2rem;
  padding: 50px 180px 80px 0px;
  font-size: 18px;
  color: hsl(0, 0%, 41%);
}
.section1{
  margin-top: 200px;
  padding-left: 150px;
}
.images{
  margin-top: 100px;
}
.images img{
  margin-right: 20px;
}
.section2{
padding-right: 100px;
margin-top: 100px;
}
.hero-mobile{
  display: none;
}
.section2 img{
  /* height: 100%; */
  width: 100%;
  }
.learn-more {
  font-size: 16px;
  font-weight: 700;
  border: 2px solid hsl(0, 0%, 8%);
  text-decoration: none;
  color: #fff;
  padding: 15px 25px;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: hsl(0, 0%, 8%);
}
.learn-more:hover{
  background-color: #fff;
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}


.attribution { font-size: 11px; 
  text-align: center; 
  margin-top: 50px;
}
    .attribution a { color: hsl(228, 45%, 44%); }

  
    @media screen and (max-width: 900px) {
  body{
    max-width: 900px;
  }    
  .container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    margin-right: 0px;
  }
  main{
    flex-direction: column-reverse;
    margin: 0px auto;
    
  } 
  .list-items{
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  #show-list{
    display: none;
  }
  .menu{
    display: block;
  }
  .close-menu{
    display: block;
    margin-left: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 0%;
  }
  .navbar{
    display: none;
    background-color: #fff;
    top: 0;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 70%;
  }
  .nav-links{
    padding: 20px;
    display: block;
     }
  .nav-links li{
    margin-bottom: 20px;
    font-weight: 500;
  }
  .links{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: space-between;
  }
  
  .register{
    margin-left: 0px;
    margin-top: 20px;
    width: 70%;
  }

  .dropdown-menu{
    position: relative;
    justify-content: center;
    align-items: center;
    left: 0%;
    background: none;
    box-shadow: 0px 0px 0px 0px grey;
    border-radius: 10px;
    width:200px;
    overflow: hidden;
    top: 0px;
    z-index: 1;
    height: 5%;
    padding: 25px;
    padding-bottom: 0px;
    display: none;
  }
  .dropdown-menu img{
    margin-right: 10px;
  }
  .dropdown-menu a{
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
  }
  /* .dropdown-menu, .dropdown-menu1{
    display: none;
  } */
  .dropdown-menu1{
    display: none;
    position: relative;
    align-items: flex-start;
    left: 10%;
    background: #fff;
    box-shadow: 0px 0px 0px 0px grey;
    border-radius: 10px;
    width:150px;
    overflow: hidden;
    top: 0px;
    z-index: 1;
    height: 15%;
    padding: 10px;
  }
  .dropdown-menu1 a{
    color:hsl(0, 0%, 41%);
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 500;
  }
  
  /* ------------------main */
  h1{
    font-size: 35px;
    margin-right: 0px;
    text-align: center;
   margin-bottom: 10px;
  }
  br{
    display: none;
  }
  .section2, .section1{
    margin-top: 0px;
    padding: 0px;
    
  }
  .section1{
    padding: 20px;
  
  }
  p{
    /* margin: 30px 20px 30px 20px; */
    padding: 10px;
    text-align: center;
    font-size:16px;
    margin-bottom: 30px;
    min-width: 100%;
    font-weight: 500;
  }
  .learn-more{
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
    
  }
  .images{
   display: flex;
   justify-content: center;
    margin-top: 50px;
  }
  .images img{
    width: 60px;
    height: 20px;
  }
  .hero-desktop{
    display: none;
  }
  .hero-mobile{
    display: block;
    padding: 0px;
    margin-bottom: 40px;
  }
  .attribution{
    margin-bottom: 20px;
  }
    }